<main>
    <form class="product-form" action="/admin/product" method="post">
        <div class="form-control">
            <label for="title">标题</label>
            <input type="text" name="title" id="title"></input>
        </div>
        <button type="submit">添加产品</button>
    </form>
</main>