extends layouts/main-layout.pug
block styles
    link(rel="stylesheet", href="/css/form.css")
    link(rel="stylesheet", href="/css/product.css")
block content
    main 
        form.product-form(action="/admin/product" method="post")
            .form-control 
                label(for="title") 标题
                input#title(type="text" name="title")
            button(type='submit') 添加产品  
