<main>
    {{#if hasProducts}}
        <div class='grid'>
            {{#each prods}}
                <article class='card product-item'>
                    <header class='card-header'>
                        <h1 class='product-title'>{{this.title}}</h1>
                    <div class='card-image'>
                        <img src="https://img1.baidu.com/it/u=3985309804,2360825202&fm=253&fmt=auto&app=138&f=JPEG?w=500&h=500" alt="" />
                    </div>
                    <div class='card-content'>
                        <h2 class = 'product-price'>￥59.9</h2> 
                        <p class='product-description'>一件网上款式非常流行，穿起来也很舒服的衣服</p> 
                    </div>
                    <div class='card-actions'>
                        <button class='btn'>添加到购物车</button> 
                    </div> 
                    </header>
                </article> 
            {{/each}}
        </div>
    {{else}}
        <h1>没有更多的产品了</h1>
    {{/if}}
</main>